body {
  background: #789;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto
}

h1 {
  font-size: 35px;
  font-family: monospace;
  color: black;
  background-color:#789;
  text-align: center;
}

h2 {
  background-color:#789;
  text-align: center;
}

strong {
  font-family: monospace;
  background-color:#554;
  text-align: center;
}

p {
  font-size: 17px;
  font-family: inherit;
  color: black;
  background-color:#789;
  text-align: center;
}
